DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/news2
LOG_FORMAT=console
LOG_LEVEL=INFO

KIS_APP_KEY=
KIS_APP_SECRET=

# Real trading
KIS_REST_DOMAIN=https://openapi.koreainvestment.com:9443
KIS_WEBSOCKET_DOMAIN=ws://ops.koreainvestment.com:21000

# Virtual trading
KIS_VIRTUAL_REST_DOMAIN=https://openapivts.koreainvestment.com:29443
KIS_VIRTUAL_WEBSOCKET_DOMAIN=ws://ops.koreainvestment.com:31000
